<!DOCTYPE html>
<html ng-app="authorizeApplication">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Swatch Bharat | SIGN IN</title>
     <link href="css/style.css" rel="stylesheet">
        <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
     <script src="js/jquery.min.js"></script>
         <script src="js/bootstrap.min.js"></script>
         <script src='https://www.google.com/recaptcha/api.js'></script> 
         
         <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular-resource.js"></script>
   <script src="clientController/loginController.js"></script>
        <script src="clientController/resource.js"></script>
    </head>
    <body  ng-controller="SignInController">
        <form id="login" style="height:auto">
    <h1>Log In</h1>
    <fieldset id="inputs">
        <input id="username" ng-model="user.email" type="text" placeholder="Username" autofocus required> 
        <!--<input id="password" ng-model="user.password" type="password" placeholder="Password" required>-->
        <div class="g-recaptcha" data-sitekey="SITE_KEY"></div>
    </fieldset>
    <fieldset id="actions">
        <input type="button" id="submit"  ng-click="login()" value="Log in">
        <!--<a href="">Forgot your password?</a><a href="">Register</a>-->
    </fieldset>
</form>

    </body>
</html>